body{width: 100%; margin: 0%;z-index: 0;}
@media  screen and (max-width: 1023px) { 
    img{width: 100%;}
}

/* header*/
header{display: flex; justify-content: space-between; padding: 6%;}
@media  screen and (min-width: 1024px) { 
header a {margin:0 22px;}
}
@media  screen and (max-width: 1023px) { 
    header img {width: 23%;}
    header a {margin:0 5px;}
}
/* intro*/
@media  screen and (min-width: 1024px) { 
    .bloc_intro{background-image: url('./images/bg-curvy-desktop.svg');background-position:center top 105%;background-repeat: no-repeat;background-size: contain; padding-bottom: 10%;}
.bloc_intro h2 {padding-left: 22%;padding-right: 22%;}
.bloc_intro p{padding-left: 28%; padding-right: 28%;}
}
@media  screen and (max-width: 1023px) { 
    .bloc_intro{padding-left: 10%;padding-right: 10%;background-image: url('./images/bg-curvy-mobile.svg');background-repeat: no-repeat;background-size: contain;background-position:center bottom ;}
}
.bloc_intro{text-align: center;}

/* icon*/
@media  screen and (min-width: 1024px) { 
.bloc_icon{display: flex; padding-left: 15%;padding-right: 15%;align-items: center;}
.bloc_icon_text{margin: 11%;}
.bloc_icon_text_secondary{margin-left: 15%; margin-right: 15%;margin-top: 12%; margin-bottom: 12%;}
}
@media  screen and (max-width: 1023px) { 
    .bloc_icon{padding-top: 30%;padding-left: 10%;padding-right: 10%;}
    .bloc_icon img{ width: 20%;}
}
.bloc_icon{text-align: center}


/* productivity*/
@media  screen and (min-width: 1024px) { 
.block_productivity{display: flex; padding-left: 10%;padding-right: 10%;padding-top: 5%; align-items: center;}
.block_productivity article{padding-left: 4%;}
}
@media  screen and (max-width: 1023px) { 
    .block_productivity{display: flex;flex-direction: column; padding-left: 10%;padding-right: 10%;padding-top: 30%;}
}

/* testimonial*/
@media  screen and (min-width: 1024px) { 
.bloc_testimonial{display: flex;padding-left: 10%;padding-right: 10%; padding-top: 10%;padding-bottom: 10%;background-image: url('./images/bg-quotes.png');background-repeat: no-repeat;background-position:  top 24% left 11%;}
.bloc_testimonial article{ margin: 1%;}
.bloc_testimonial aside {margin-bottom: -3%;}
}
@media  screen and (max-width: 1023px) { 
    .bloc_testimonial{padding-top: 30%;padding-right: 10%; padding-left: 10%;background-image: url('./images/bg-quotes.png');background-repeat: no-repeat;background-position:  top 13% left 13%;background-size: 8%;}
    .bloc_testimonial article{ margin-bottom: 10%;}
}
.bloc_testimonial article{border-radius: 3px;padding: 2%;box-shadow: 10px 5px 5px rgba(78, 78, 78, 0.171);}
.bloc_testimonial img{width: 30px; height: 30px; border-radius: 50%; object-fit: cover; padding-right: 3%;}
.bloc_testimonial article div{display: flex;align-items: center;}

/* email*/
.bloc_email{text-align: center;margin-left: 20%;margin-right: 20%;padding: 3%;border-radius: 10px;z-index: 2;margin-bottom: -8%;position: relative;}
.input_mail{border-radius: 50px;border: 1px solid hsl(0, 0%, 100%); margin-left: 6%;padding-right: 36%;padding-top: 2%;padding-bottom: 2%;margin-top: 1%;text-align: center;}
.bloc_email button{margin-left: 3%;padding-top: 2%;padding-bottom: 2%;}
@media  screen and (max-width: 1023px) { 
    .bloc_email{margin-left: 10%; margin-right: 10%;margin-top: 30%;margin-bottom: -20%;text-align: center;}
    .input_mail{margin: 0%;margin-bottom: 5%;}
    .bloc_email button{margin: 0%;padding-right: 29%;padding-left: 29%;}
}


/* footer*/
@media  screen and (min-width: 1024px) { 
footer{z-index: 0;padding-top: 5%;}
footer nav{display: flex;padding: 2%;justify-content: space-around;align-items: flex-start;padding-top: 10%;}
footer nav div{max-width: 20%; }
.fab{border-radius: 50%; border: 1px solid white; padding: 20%;margin-left:36%;}
}
@media  screen and (max-width: 1023px) { 
    footer nav{padding-left: 10%;padding-right: 10%;}
    footer{padding-top: 30%;padding-bottom: 10%;}
    footer ul {padding: 0%;}
    .fab{border-radius: 50%; border: 1px solid white; padding: 5%;margin-left:3%;}
    .icon_footer{justify-content: space-around; }
}
.fab{border-radius: 50%; border: 1px solid white; }
.icon_footer{display: flex;padding-right: 4%; }
/* button*/
button{border-radius: 50px;border: 1px solid hsl(176, 68%, 64%);background: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%)); padding-left: 6%;padding-right: 6%;padding-top: 1%;padding-bottom: 1%;margin-top: 1%;}
@media  screen and (max-width: 1023px) { 
    button{padding-left: 25%;padding-right: 25%;padding-top: 3%;padding-bottom: 3%;}
}
/* color background */
.color_background_primary{ background-color: hsl(218, 28%, 13%);}
.color_background_secondary{background-color: hsl(217, 28%, 15%);}
.color_background_tierce{background-color: hsl(216, 53%, 9%);}
.color_background_testimonial{background-color: hsl(219, 30%, 18%);}

/* color background */
.color_button_primary{ background-color: hsl(176, 68%, 64%);}
.color_button_secondary{ background-color: hsl(198, 60%, 50%);}
/* color font */
.color_font_primary{ color: hsl(0, 0%, 100%);}
.color_font_secondary{color: hsl(176, 68%, 64%);}
.color_font_tierce{color: rgba(255, 255, 255, 0.726);}